.dashboard-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    padding: 20px;
    background-color: #ecf0f1;
}

/* Adjust main content to have a specific width ratio */
.main-content {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 50px;
}

/* Categories section takes 25% */
.manage-categories-section {
    flex: 0 0 25%;
}

/* Products section takes 75% */
.manage-products-section {
    flex: 0 0 75%;
}

/* Content styles */
.content-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adds scroll if content overflows */
}

/* Button styles */
.button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em 0.5em;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1em;
    height: 2em;
}

.button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.button:active {
    background-color: #1f678f;
    transform: translateY(0);
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.table th, .table td {
    padding: 0.75em;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #3498db;
    color: #fff;
}

.table td {
    background-color: #f9f9f9;
}

/* Input styles */
.dashboard-container input[type="text"],
.dashboard-container input[type="number"],
.dashboard-container textarea,
.dashboard-container select {
    width: 100%; /* Ensure full width within their container */
    padding: 0.75em;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.dashboard-container input[type="text"]:focus,
.dashboard-container input[type="number"]:focus,
.dashboard-container textarea:focus,
.dashboard-container select:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

/* Image styles in table */
.table img {
    display: block;
    margin: auto;
    border-radius: 4px;
}
