.cart-icon {
    position: fixed;
    top: 12px;
    right: 20px;
    cursor: pointer;
}

.cart-icon-image {
    width: 36px;
    height: auto;
}

.cart-count {
    position: absolute;
    top: -10px; 
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}
