.login-button {
    position: fixed;
    top: 12px;
    right: 80px; /* Adjust as needed */
    z-index: 1000;
  }
  
  .login-button-button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff; /* Primary color */
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-button-button:hover {
    opacity: 0.8;
    background-color: #0056b3; /* Darker shade for hover */
  }