.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    border-radius: 8px; 
}

.product-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.view-details-button, .add-to-cart-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

.view-details-button {
    background-color: #518ccb;
}

.add-to-cart-button {
    background-color: #24ad3f;
}

.view-details-button:hover {
    background-color: #0056b3;
}

.add-to-cart-button:hover {
    background-color: #218838;
}
